:root {
  --dg: #121212;

}

body {
  background-color: var(--dg);
}

.App {
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > .r {
  position: absolute;
  right: 0;
}

.left_side {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 100px);
  background-color: #ff7b7b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow:hidden;
}

.playlist {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
  list-style-type: none;
}

.Hidden {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=range].seeker {
  width: 30%;
  height: 2.2em;
  -webkit-appearance: none;
  background: transparent;
}


/*progress support*/
input[type=range].seeker.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 0.5em + var(--ratio) * (100% - 0.5em));
}

/*webkit*/
input[type=range].seeker::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background: #373737;
  margin-top: calc(max((0.5em) * 0.5) - 0.5em * 0.5);
}

input[type=range].seeker:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background: #373737;
  margin-top: calc(max((0.5em) * 0.5) - 1em * 0.5);
}

input[type=range].seeker::-webkit-slider-runnable-track {
  height: 0.5em;
  border-radius: 0.5em;
  background: #1d1d1d;
  box-shadow: none;
}

input[type=range].seeker.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#373737, #373737) 0/var(--sx) 100% no-repeat, #1d1d1d;
}

nav ul{height:200px; width:18%;}
nav ul{overflow:hidden; overflow-y:scroll;}